* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17224d;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

aside {
  background-color: #353a50;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  width: 8vw;
}

.wrapper-tela {
  width: 100%;
  padding: 20px 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.wrapper-graficos {
  width: 80%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  color: #fff;
}

header input {
  width: 15%;
  border-radius: 5px;
  border: none;
  outline: none;
}

.grid-section-box {
  width: 100%;
  padding: 20px 0;
}

.grid-section-box h1 {
  margin: 20px 0;
  font-size: 2em;
}

.grid-section-box .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}

.box1,
.box2,
.box3 {
  background-color: #353a50;
  padding: 20px;
  border-radius: 10px;
  color: #000;
  width: 100%;
  height: 20vh;
}

.chart-container {
  background-color: #353a50;
  border-radius: 10px;
  padding: 20px 0;
}
